# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# testing
/coverage

# next.js
/.next/
/out/
/build
next-env.d.ts

# production
/dist

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (NEVER commit secrets)
.env
.env*.local
.env.development
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo

# editor / OS
.idea/
*.swp
